# T-317-CAST
# Introduction to Python

In this course we will use the [SageMath&trade;](http://www.sagemath.org) mathematics system based 
on the Python 2.7.10 programming language. This document aims to give a brief introduction to Python for the uninitiated.

In [1]:
from math import *
from random import randint

## Calculator
Python can be used as a basic calculator.

In [2]:
2+4-8

-2

In [3]:
23*349

8027

In [4]:
6/3

2

In [5]:
5.5+2.8

8.3

Python follows the standard order of operations: $(),\times,\div,+,-$. Parenthesis change order of calculation.

In [6]:
5-2*8+6

-5

In [7]:
(5-2)*8+6

30

In [8]:
(5-2)*(8+6)

42

We can also use some trigonometric functions. These all take their inputs in radians (not degrees).

In [9]:
sin(90)

0.8939966636005579

In [10]:
sin(radians(90))

1.0

In [11]:
sin(pi/2)

1.0

Floating point calculations sometimes give unexpected results. (sage uses exact math so this is less likely)

In [12]:
cos(pi/2)

6.123233995736766e-17

## Program control

### Variables
You can store variables using the `=` operator and use them in any other expression.

In [13]:
x = 5

In [14]:
k = 12

In [15]:
x + k

17

Variables can be reassigned at any point

In [16]:
x = 17

In [17]:
x + k

29

Lists are a special kind of variable that can hold many different values

In [18]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [19]:
my_list.append(4)
my_list

[1, 2, 3, 4]

In [20]:
my_list.pop()

4

In [21]:
my_list

[1, 2, 3]

Another kind of special object is a dictionary, this maps a 'key' to a 'value'.

In [22]:
fruit_costs = {"banana":100, "apple":80, "pineapple":300}
fruit_costs

{'apple': 80, 'banana': 100, 'pineapple': 300}

In [23]:
fruit_costs['banana']

100

In [24]:
fruit_costs.items()

[('pineapple', 300), ('banana', 100), ('apple', 80)]

In [25]:
fruit_costs.keys()

['pineapple', 'banana', 'apple']

In [26]:
fruit_costs.values()

[300, 100, 80]

### Boolean expressions

Python has two boolean values `True` and `False`, as well as the standard boolean operators of `and`, `or` and `not`. 

These boolean operators short circuit, meaning that they stop evaluating as soon as they are either satisfied or cannot be satisfied.

All comparisons return a boolean value.

In [27]:
not True

False

In [28]:
False or True

True

In [29]:
True and True

True

In [30]:
5 > 3

True

An empty list has the truth value of `False`

In [31]:
not []

True

Boolean expressions allow us to form conditional expressions using the `if` statement.

In [32]:
x = randint(0,10)
if x < 3:
    print "x is small"
elif x > 7:
    print "x is big"
else:
    print "x is in the middle"
print x

x is in the middle
7

### Loops

Loops in Python are denoted by the `for ... in ...` statement.

We can generate a range of numbers by using the `range(stop)` or `range(start, stop[, step])` built-in functions.
For larger ranges we can use `xrange` which saves memory.

Range always includes the `start`, but does not include the `stop`.

In [33]:
range(6)

[0, 1, 2, 3, 4, 5]

In [34]:
range(3,8)

[3, 4, 5, 6, 7]

In [35]:
range(10,-1,-1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [36]:
xrange(9)

xrange(9)

In [37]:
for x in range(5):
    print "The current number is " +str(x)

The current number is 0
The current number is 1
The current number is 2
The current number is 3
The current number is 4

We can also loop through arbitrary lists of things. Earlier we saw that the `Dictionary.keys()` function returned a list, let's use that.

In [38]:
for fruit in fruit_costs.keys():
    print "A " + fruit + " is tasty"

A pineapple is tasty
A banana is tasty
A apple is tasty

We can also loop through the keys of a dictionary without using the `keys` method.

In [39]:
for fruit in fruit_costs:
    print "A " + fruit + " is tasty"

A pineapple is tasty
A banana is tasty
A apple is tasty

The items method of dictionaries allow us to make even easier loops.

In [40]:
for fruit, cost in fruit_costs.items():
    print "A " + fruit + " costs " + str(cost) + "kr."

A pineapple costs 300kr.
A banana costs 100kr.
A apple costs 80kr.

## Functions
A function in python is defined using the `def` keyword.

Functions can return a value usign the `return` keyword

In [41]:
def pythagoras_theorem(a, b):
    """
    Calculates the length of the hypotenuse of a right-angle triangle
    given the length of the two other sides
    """
    a_square = a*a
    b_square = b*b
    c_square = a_square + b_square
    c = sqrt(c_square)
    return c

In [42]:
pythagoras_theorem(12,9)

15.0

Variables in a function do not exist outside of the function.

In [43]:
c

NameError: name 'c' is not defined

But functions can change variables that you give to them

In [44]:
new_list = []

In [45]:
def add_random(base_list):
    base_list.append(randint(1,100))

In [46]:
add_random(new_list)

In [47]:
new_list

[62]

Notice that `add_random` did not return any value.

# Errors

Python is very descriptive when it gives you an error.

In [48]:
def my_function(pa)
    print pa

SyntaxError: invalid syntax (<ipython-input-48-93caf34f137d>, line 1)

The "traceback" tells you where there is an error in your function, here we are missing a colon at the end of the line.

In [49]:
def my_looper(inlist):
    for item in inlist:
        print item + " banana"

In [50]:
my_looper(["one", "two", 3])

one banana
two banana

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Here we have a type error on the third line of this function, the traceback tells
us that we are not able to add a integer and a string.